/* Header.css */
.header {
  background-color: #333; /* Dark background for the header */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem; /* Add padding on top and bottom, and more on the sides */
}

.header-brand img {
  height: 60px; /* Adjust size as needed */
}

.header-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  padding: 0 1rem; /* Space out the navigation items */
}

.header-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-nav a:hover {
  color: #e44d26; /* Color when hovering over links */
}

/* Responsive adjustments for mobile view */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header-nav ul {
    flex-direction: column;
  }

  .header-nav li {
    padding: 0.5rem 0; /* More vertical padding for mobile */
  }
}

.cart-icon {
  position: relative;
  font-size: 1.5rem; /* Adjust the size of the cart icon */
}

.cart-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #e44d26;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  line-height: 1;
  min-width: 20px;
  text-align: center;
}
